{% extends "base_generic.html" %}

{% block sidebar %}

  <ul class="background sidebar-nav">
    <li class="login-link"><a id="home_link" class="home_link" href="{% url 'homepage' %}"><b>HOME PAGE</b></a></li> </br>
  </ul>
{% endblock %}


{% block content %}

<div class="row">
    <div class="center_content col-sm-12">

{% if form.errors %}
</br><p class="login_string" style='color: red'><b>Your username and password didn't match. Please try again.</b></p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p class="login_string">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
</br><p class="login_string" style='color: white'>Please login to see this page.</p>
  {% endif %}
{% endif %}
<div class="center_content">
<form method="post" action="{% url 'login' %}" autocomplete="on">
{% csrf_token %}
<table class="table_center">

<tr>
  <td><span class="login_form" id="login_u">{{ form.username.label_tag }}</span></td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td><span class="login_form" id="login_p">{{ form.password.label_tag }}</span></td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input class="login_button btn btn-success" type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
<!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}"><span style='color: white'>Lost password?</span></a></p> -->

</div>
</div>

{% endblock %}
