{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="white_background">
            <textarea id="chat-log" cols="100" rows="20" disabled></textarea><br/>
        </div>
        <input id="chat-message-input" type="text" class="chatroom_input"/><br/></br>
        <input id="chat-message-submit" class="btn btn-primary" type="button" value="Send"/>

        </div>
      </div>
    </div>

  {% endblock %}

  <!-- {% block script %} -->
<script>

    $(document).ready(function() {

    var status;
    var last_status;
    var from_location;
    var to_location;

    var current_user = '{{ current_user_id }}';

    var last_timestamp = 'empty';
    var last_author = 'empty';

    if (current_user === 'Staff') {

        $.ajax({
            type: 'GET',
            url: 'ChatSession/',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                    // 'session_request': 'yes' // Is this line only here because you need something?
                  },
            success: function(response) {
                console.log(response);
                // console.log('GET Staff name 2: ' + response['given_staff_name']);

                var given_staff_name_temp = response['given_staff_name'];

                if (given_staff_name_temp !== 'Not Stated') {
                    current_user = given_staff_name_temp;
                    console.log('1: ' + current_user);
                }
                else {
                   var chat_name_temp = prompt("Please enter the chat name you want to use:");

                   if (chat_name_temp == null || chat_name_temp.trim() == '') {
                     window.location.replace("{% url 'LIVE' %}");
                   }
                   else {
                     current_user = chat_name_temp;

                     $.ajax({
                         type: "POST",
                         url: "ChatSessions/",
                         data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                                 'given_staff_name': current_user,
                               },
                         success: function () {
                             // console.log('Posted provided name: ' + current_user);
                         }
                     });
                   }
                }
            }
        });
      }

    $.ajax({
        type: 'GET',
        url: 'CodeRedStatus/',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        success: function(response) {
            status = response['code_red_status']; // Needed?
            last_status = response['code_red_status'];

            if (response['code_red_status'] == 'Normal') {
                $('#status_banner').text('')
            }
            else if (response['code_red_status'] == 'Horizontal Evacuation') {
                $('#status_banner').text('Horizontal Evacuation from ' + response['from_location'] + ' to ' + response['to_location'])
                $('#status_banner').addClass('banner_yellow')
              }
            else if (response['code_red_status'] == 'Full Evacuation') {
                $('#status_banner').text('Full Evacuation')
                $('#status_banner').addClass('banner_red')
            }
        }
    });

    $.ajax({
        type: 'GET',
        url: 'Messages/',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                'message_request': 'yes' // Is this line only here because you need something?
              },
        success: function(response) {

            last_timestamp = response['timestamp'].substring(0,21);
            console.log('Initial GET of last 10 messages: ' + last_timestamp.substring(0,21));

            message_1 = response['message_1'];
            message_2 = response['message_2'];
            message_3 = response['message_3'];
            message_4 = response['message_4'];
            message_5 = response['message_5'];
            message_6 = response['message_6'];
            message_7 = response['message_7'];
            message_8 = response['message_8'];
            message_9 = response['message_9'];
            message_10 = response['message_10'];

            author_1 = response['author_1'];
            author_2 = response['author_2'];
            author_3 = response['author_3'];
            author_4 = response['author_4'];
            author_5 = response['author_5'];
            author_6 = response['author_6'];
            author_7 = response['author_7'];
            author_8 = response['author_8'];
            author_9 = response['author_9'];
            author_10 = response['author_10'];

            if (message_10 !== '') {
                document.querySelector('#chat-log').value += (author_10.padEnd(12, ' ').toUpperCase() + message_10 + '\n');
            }
            if (message_9 !== '') {
                document.querySelector('#chat-log').value += (author_9.padEnd(12, ' ').toUpperCase() + message_9 + '\n');
            }
            if (message_8 !== '') {
                document.querySelector('#chat-log').value += (author_8.padEnd(12, ' ').toUpperCase() + message_8 + '\n');
            }
            if (message_7 !== '') {
                document.querySelector('#chat-log').value += (author_7.padEnd(12, ' ').toUpperCase() + message_7 + '\n');
            }
            if (message_6 !== '') {
                document.querySelector('#chat-log').value += (author_6.padEnd(12, ' ').toUpperCase() + message_6 + '\n');
            }
            if (message_5 !== '') {
                document.querySelector('#chat-log').value += (author_5.padEnd(12, ' ').toUpperCase() + message_5 + '\n');
            }
            if (message_4 !== '') {
                document.querySelector('#chat-log').value += (author_4.padEnd(12, ' ').toUpperCase() + message_4 + '\n');
            }
            if (message_3 !== '') {
                document.querySelector('#chat-log').value += (author_3.padEnd(12, ' ').toUpperCase() + message_3 + '\n');
            }
            if (message_2 !== '') {
                document.querySelector('#chat-log').value += (author_2.padEnd(12, ' ').toUpperCase() + message_2 + '\n');
            }
            if (message_1 !== '') {
                document.querySelector('#chat-log').value += (author_1.padEnd(12, ' ').toUpperCase() + message_1 + '\n');
            }
        }
    });


    $('#send_message').click(function(e) {

        if (current_user === 'Staff') {

          var current_user_temp = prompt("Please enter your name:");
          if (current_user_temp == null) {
              return;
          }
          else if (current_user_temp.trim() == '') {
              alert("You must give a name.");
              return;
          }
          else if (current_user_temp != null) {
              current_user = current_user_temp;

              $.ajax({
                  type: "POST",
                  url: "Session/",
                  data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                          'given_staff_name': current_user,
                        },
                  success: function () {
                      console.log('Posted name: ' + current_user);
                  }
              });
          }
      }

          var message = prompt("Message:");

          if (message == null) {
            return;
          }
          else if (message.trim() == '') {
              alert("You must enter a message.");
              return;
          }
          else if (message != null) {

                message_1 = message;

                $.ajax({
                    type: "POST",
                    url: "Messages/",
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'author_1': current_user,
                            'message_1': message
                          },
                    success: function () {

                        document.querySelector('#chat-log').value += (current_user.padEnd(12, ' ').toUpperCase() + message_1 + '\n');

                        var textarea = document.getElementById('chat-log');
                        textarea.scrollTop = textarea.scrollHeight;

                        console.log('Message by ' + current_user + ' sent: ' + message_1);
                    }
                });
            }
    });

    $('#status_normal').click(function(e) {
        if (status != 'Normal') {

            status = $('#status_normal').val();
            last_status = $('#status_normal').val();
            from_location = '';
            to_location = '';

            $('#status_banner').text('');
            $('#status_banner').removeClass('banner_yellow');
            $('#status_banner').removeClass('banner_red');
        }

        else {
            alert("The status is already set to Normal!");
        }
    });

    $('#status_horizontal').click(function(e) {

        if (status != 'Horizontal Evacuation') {

            from_location = prompt("From:");

            if (from_location != null && from_location != '') {

                    to_location = prompt("To:");

                    if (to_location != null && to_location != '') {

                        status = $('#status_horizontal').val();
                        last_status = $('#status_horizontal').val();

                        $('#status_banner').text('Horizontal Evacuation from ' + from_location + ' to ' + to_location)
                        $('#status_banner').addClass('banner_yellow');
                        $('#status_banner').removeClass('banner_red');
                        }
                    else if (to_location == '') {
                        alert('You must provide a To location.');
                    }
            }

            else if (from_location == '') {
                alert('You must provide a From location.');
            }
        }

        else {
            alert("The status is already set to Horizontal Evacuation!");
        }
    });

    $('#status_full_evac').click(function(e) {
        if (status != 'Full Evacuation') {

            status = $('#status_full_evac').val();
            last_status = $('#status_full_evac').val();
            from_location = '';
            to_location = '';

            $('#status_banner').text('Full Evacuation');
            $('#status_banner').addClass('banner_red');
            $('#status_banner').removeClass('banner_yellow');
        }

        else {
            alert("The status is already set to Full Evacuation!");
        }
    });

    $(':button').not('#send_message').click(function(e) {     // Won't run when message button is clicked

        if (from_location != null && to_location != null) {

            $.ajax({
                type: "POST",
                url: "CodeRedStatus/",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'code_red_status': status,
                        'status_setter': current_user,
                        'from_location': from_location,
                        'to_location': to_location
                      },
                success: function () {
                    console.log('POST status success!');
                }
            });
        }
    });


    var myStatusVar = setInterval(status_update, 1000);
    function status_update() {

    $.ajax({
        type: 'GET',
        url: 'CodeRedStatus/',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        success: function(response) {
            if (response['status_setter'] != current_user) {

                if (response['code_red_status'] == 'Normal') {
                  $('#status_banner').text('')
                }
                else if (response['code_red_status'] == 'Horizontal Evacuation') {
                  $('#status_banner').text('Horizontal Evacuation from ' + response['from_location'] + ' to ' + response['to_location'])
                  $('#status_banner').addClass('banner_yellow')
                  $('#status_banner').removeClass('banner_red')
                  }
                else if (response['code_red_status'] == 'Full Evacuation') {
                  $('#status_banner').text('Full Evacuation')
                  $('#status_banner').addClass('banner_red')
                  $('#status_banner').removeClass('banner_yellow')
                }
          }

          if (response['code_red_status'] != last_status && response['status_setter'] != current_user && response['status_setter'] != 'Unspecified' && response['status_setter'] != null) {

              last_status = response['code_red_status'];

              alert(response['status_setter'] + ' has set the status From ' + status + ' to ' + last_status);
              status = response['code_red_status'];
          }
      }
    });
};

    var myVar = setInterval(chat_update, 250);
    function chat_update() {

        $.ajax({
            type: 'GET',
            url: 'Messages/',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                    // 'message_request': 'yes' // Is this line only here because you need something?
                  },
            success: function(response) {

                // console.log('Recurring GET: ' + response['timestamp'].substring(0,21))
                // console.log('Response author: ' + response['author_1'])
                // console.log('Current name: ' + current_user)
                if (response['timestamp'].substring(0,21) !== last_timestamp && response['author_1'] !== current_user) {

                    document.querySelector('#chat-log').value += (response['author_1'].padEnd(12, ' ').toUpperCase() + response['message_1'] + '\n');

                    last_timestamp = response['timestamp'].substring(0,21)

                    var textarea = document.getElementById('chat-log');
                    textarea.scrollTop = textarea.scrollHeight;
            }
        }
    });
}

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');

        if (messageInputDom.value.trim() != '') {

            $.ajax({
                type: "POST",
                url: "Messages/",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'author_1': current_user,
                        'message_1': messageInputDom.value
                      },
                success: function () {
                    console.log('Message by ' + current_user + ': POST to database success.')
                    }
                });

            $.ajax({
                type: 'GET',
                url: 'Messages/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        // 'message_request': 'yes' // Is this line only here because you need something?
                      },
                success: function(response) {
                    last_timestamp = response['timestamp'].substring(0,21)
                    // console.log('Third GET: ' + response['timestamp'].substring(0,21))
                }
            });

        document.querySelector('#chat-log').value += (current_user.padEnd(12, ' ').toUpperCase() + messageInputDom.value + '\n');

        var textarea = document.getElementById('chat-log');
        textarea.scrollTop = textarea.scrollHeight;

        messageInputDom.value = ''; // Clear input field
     }
  };
});
</script>

<!-- {% endblock %} -->
