<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

        <textarea id="chat-log" cols="100" rows="40" disabled></textarea><br/>
        <input id="chat-message-input" type="text" size="100"/><br/></br>
        <input id="chat-message-submit" class="btn btn-primary" type="button" value="Send"/>

        </div>
      </div>
    </div>
</body>
<script>

    var current_name = 'empty';

    current_name = prompt("Please enter the chat name you'd like to use:");

    $.ajax({
        type: 'GET',
        url: 'Messages/',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                'message_request': 'yes' // Is this line only here because you need something?
              },
        success: function(response) {

            message_1 = response['message_1'];
            message_2 = response['message_2'];
            message_3 = response['message_3'];
            message_4 = response['message_4'];
            message_5 = response['message_5'];
            message_6 = response['message_6'];
            message_7 = response['message_7'];
            message_8 = response['message_8'];
            message_9 = response['message_9'];
            message_10 = response['message_10'];

            author_1 = response['author_1'];
            author_2 = response['author_2'];
            author_3 = response['author_3'];
            author_4 = response['author_4'];
            author_5 = response['author_5'];
            author_6 = response['author_6'];
            author_7 = response['author_7'];
            author_8 = response['author_8'];
            author_9 = response['author_9'];
            author_10 = response['author_10'];

            // Couldn't get jQuery to work...
            document.querySelector('#chat-log').value += (author_10.padEnd(12, ' ').toUpperCase() + message_10 + '\n');
            document.querySelector('#chat-log').value += (author_9.padEnd(12, ' ').toUpperCase() + message_9 + '\n');
            document.querySelector('#chat-log').value += (author_8.padEnd(12, ' ').toUpperCase() + message_8 + '\n');
            document.querySelector('#chat-log').value += (author_7.padEnd(12, ' ').toUpperCase() + message_7 + '\n');
            document.querySelector('#chat-log').value += (author_6.padEnd(12, ' ').toUpperCase() + message_6 + '\n');
            document.querySelector('#chat-log').value += (author_5.padEnd(12, ' ').toUpperCase() + message_5 + '\n');
            document.querySelector('#chat-log').value += (author_4.padEnd(12, ' ').toUpperCase() + message_4 + '\n');
            document.querySelector('#chat-log').value += (author_3.padEnd(12, ' ').toUpperCase() + message_3 + '\n');
            document.querySelector('#chat-log').value += (author_2.padEnd(12, ' ').toUpperCase() + message_2 + '\n');
            document.querySelector('#chat-log').value += (author_1.padEnd(12, ' ').toUpperCase() + message_1 + '\n');

            $('#chat-log').value += (author_1 + ': ' + message_1);
            $('#chat-log').value += (author_2 + ': ' + message_2);
            $('#chat-log').value += (author_3 + ': ' + message_3);
            $('#chat-log').value += (author_4 + ': ' + message_4);
            $('#chat-log').value += (author_5 + ': ' + message_5);
            $('#chat-log').value += (author_6 + ': ' + message_6);
            $('#chat-log').value += (author_7 + ': ' + message_7);
            $('#chat-log').value += (author_8 + ': ' + message_8);
            $('#chat-log').value += (author_9 + ': ' + message_9);
            $('#chat-log').value += (author_10 + ': ' + message_10);
        }
    });

    // var roomName = {{ room_name_json }};
    var roomName = 'staffpool';

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = current_name.padEnd(10, ' ') + messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
</html>
