{% extends "base_generic.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">

        <textarea id="chat-log" cols="100" rows="30" disabled></textarea><br/>
        <input id="chat-message-input" type="text" class="chatroom_input"/><br/></br>
        <input id="chat-message-submit" class="btn btn-primary" type="button" value="Send"/>

        </div>
      </div>
    </div>
<script>

    var current_name = 'empty';
    var last_timestamp = 'empty';
    var last_author = 'empty';

    current_name = prompt("Please enter the chat name you'd like to use:");

    if (current_name == null || current_name.trim() == '') {
        window.location.replace("{% url 'LIVE' %}");
    }

    $.ajax({
        type: 'GET',
        url: 'Messages/',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                'message_request': 'yes' // Is this line only here because you need something?
              },
        success: function(response) {

            last_timestamp = response['timestamp'].substring(0,21);
            console.log('Initial GET: ' + last_timestamp.substring(0,21));

            message_1 = response['message_1'];
            message_2 = response['message_2'];
            message_3 = response['message_3'];
            message_4 = response['message_4'];
            message_5 = response['message_5'];
            message_6 = response['message_6'];
            message_7 = response['message_7'];
            message_8 = response['message_8'];
            message_9 = response['message_9'];
            message_10 = response['message_10'];

            author_1 = response['author_1'];
            author_2 = response['author_2'];
            author_3 = response['author_3'];
            author_4 = response['author_4'];
            author_5 = response['author_5'];
            author_6 = response['author_6'];
            author_7 = response['author_7'];
            author_8 = response['author_8'];
            author_9 = response['author_9'];
            author_10 = response['author_10'];

            if (message_10 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_10.padEnd(12, ' ').toUpperCase() + message_10 + '\n');
            }
            if (message_9 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_9.padEnd(12, ' ').toUpperCase() + message_9 + '\n');
            }
            if (message_8 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_8.padEnd(12, ' ').toUpperCase() + message_8 + '\n');
            }
            if (message_7 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_7.padEnd(12, ' ').toUpperCase() + message_7 + '\n');
            }
            if (message_6 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_6.padEnd(12, ' ').toUpperCase() + message_6 + '\n');
            }
            if (message_5 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_5.padEnd(12, ' ').toUpperCase() + message_5 + '\n');
            }
            if (message_4 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_4.padEnd(12, ' ').toUpperCase() + message_4 + '\n');
            }
            if (message_3 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_3.padEnd(12, ' ').toUpperCase() + message_3 + '\n');
            }
            if (message_2 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_2.padEnd(12, ' ').toUpperCase() + message_2 + '\n');
            }
            if (message_1 !== '') {
                document.querySelector('#chat-log').value += (' ' + author_1.padEnd(12, ' ').toUpperCase() + message_1 + '\n');
            }
        }
    });

    var myVar = setInterval(chat_update, 250);
    function chat_update() {

        $.ajax({
            type: 'GET',
            url: 'Messages/',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                    'message_request': 'yes' // Is this line only here because you need something?
                  },
            success: function(response) {

                console.log('Recurring GET: ' + response['timestamp'].substring(0,21))
                console.log('Response author: ' + response['author_1'])
                console.log('Current name: ' + current_name)
                if (response['timestamp'].substring(0,21) !== last_timestamp && response['author_1'] !== current_name) {

                    document.querySelector('#chat-log').value += (' ' + response['author_1'].padEnd(12, ' ').toUpperCase() + response['message_1'] + '\n');

                    last_timestamp = response['timestamp'].substring(0,21)

                    var textarea = document.getElementById('chat-log');
                    textarea.scrollTop = textarea.scrollHeight;
            }
        }
    });
};

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');

        if (messageInputDom.value.trim() != '') {

            $.ajax({
                type: "POST",
                url: "Messages/",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'author_1': current_name,
                        'message_1': messageInputDom.value
                      },
                success: function () {
                    console.log('Message POST to database success.')
                    }
                });

            $.ajax({
                type: 'GET',
                url: 'Messages/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'message_request': 'yes' // Is this line only here because you need something?
                      },
                success: function(response) {
                    last_timestamp = response['timestamp'].substring(0,21)
                    console.log('Third GET: ' + response['timestamp'].substring(0,21))
                }
            });

        document.querySelector('#chat-log').value += (' ' + current_name.padEnd(12, ' ').toUpperCase() + messageInputDom.value + '\n');

        var textarea = document.getElementById('chat-log');
        textarea.scrollTop = textarea.scrollHeight;

        messageInputDom.value = '';
    }
};

</script>

{% endblock %}
