<!DOCTYPE html>
<html lang="en">
<head>

  <!-- <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.4.1.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  {% block title %}<title>NBRHC Staff Pool</title>{% endblock %}

  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<!-- {% load static %} -->
<body background="{% static "nbrhc-3.jpg" %}">

    {% block banner %}
        <p id="status_banner" class="status_banner blinking"></p>
    {% endblock %}

<!-- <body style="background-repeat: round;" background="{% static "nbrhc-2.jpg" %}"> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">

      {% block sidebar %}

        <ul class="background sidebar-nav">
          <li><a id="home_link" class="home_link" href="{% url 'homepage' %}"><b>HOME PAGE</b></a></li> </br>
          <li><a href="{% url 'cafeteria_form' %}"><b>Cafeteria Form</b></a></li>
          <li><a href="{% url 'east_lobby_form' %}"><b>East Lobby Form</b></a></li>
          <li><a href="{% url 'town_centre_form' %}"><b>Town Centre Form</b></a></li>
              </br>
          <li><a href="{% url 'incident_command_form' %}"><b>Incident Command</b></a></li>
              </br>

          <!-- <li class="tracker"><a href="{% url 'LIVE' %}"><b><span style="color: red"><img src="{% static "live.png" %}" />LIVE TRACKER</span></b></a></li> -->
          <li class=" shrink_live tracker"><a class="live" href="{% url 'LIVE' %}"><img src="{% static "live.png" %}" /></a></li>
              </br>

          <li><a id="chat_link" href="/chat/"><b>CHAT</b></a></li>
            <!-- </br>
          <li><a href="{% url 'about' %}"><b>About This Tool</b></a></li> -->

       </br>

        {% if user.is_authenticated %}

          <a href="{% url 'logout'%}?next={{request.path}}"><b>Logout</b></a>
          <li class="user"><b>{{ user.get_username }}</b></li>

        {% else %}

          <a href="{% url 'login'%}?next={{request.path}}"><b>Login</b></a>

        {% endif %}

        </ul>
{% endblock %}

{% block set_statuses %}
    {% if user.is_authenticated and user.get_username == 'brendan' or user.get_username == 'command' or user.get_username == 'jeremy' or user.get_username == 'eileen' or user.get_username == 'angele' %}

    <div id="status_list">
        <input id="status_normal" class="status_button btn btn-success" type="button" value="Normal" name="upgrade_button"> </br>
        <input id="status_horizontal" class="status_button btn btn-warning" type="button" value="Horizontal Evacuation" name="upgrade_button"> </br>
        <input id="status_full_evac" class="status_button btn btn-danger" type="button" value="Full Evacuation" name="upgrade_button">
    </div>

    {% endif %}
{% endblock %}

{% block send_message %}
    {% if user.is_authenticated %}

    <div id="send_message_div">
        <input id="send_message" class="status_button btn btn-primary" type="button" value="Broadcast a message..." name="send_message_button">
    </div>

    {% endif %}
{% endblock %}

      </div>

    {% block index_content %}
      <div class="col-sm-12 col-md-8 col-lg-8">
    {% endblock %}

          {% block content %}

          {% endblock %}

      </div>
    </div>
  </div>
</body>
</html>

{% block script %}

<script type="text/javascript">

$(document).ready(function() {

var status;
var last_status;
// var status_setter;
var from_location;
var to_location;

var current_user = '{{ current_user_id }}';
console.log(current_user);

var message_1;
// var author_1;
// var timestamp;

if (current_user === 'Staff') {

  $.ajax({
      type: 'GET',
      url: 'Session/',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
              // 'session_request': 'yes' // Is this line only here because you need something?
            },
      success: function(response) {
        // console.log(response);
          console.log('GET Staff name 1: ' + response['given_staff_name']);

          var given_staff_name_temp = response['given_staff_name'];

          if (given_staff_name_temp !== 'Not Stated') {
            current_user = given_staff_name_temp;
          }
      }
  });
}

$.ajax({
    type: 'GET',
    url: 'Messages/',
    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
            // 'message_request': 'yes' // Is this line only here because you need something?
          },
    success: function(response) {
        message_1 = response['message_1'];
    }
});

$.ajax({
    type: 'GET',
    url: 'CodeRedStatus/',
    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
            // 'status_request': 'yes' // Is this line only here because you need something?
          },
    success: function(response) {
        status = response['code_red_status']; // Needed?
        last_status = response['code_red_status'];

        if (response['code_red_status'] == 'Normal') {
            $('#status_banner').text('')
        }
        else if (response['code_red_status'] == 'Horizontal Evacuation') {
            $('#status_banner').text('Horizontal Evacuation from ' + response['from_location'] + ' to ' + response['to_location'])
            $('#status_banner').addClass('banner_yellow')
          }
        else if (response['code_red_status'] == 'Full Evacuation') {
            $('#status_banner').text('Full Evacuation')
            $('#status_banner').addClass('banner_red')
        }
    }
});

        $('#send_message').click(function(e) {

            if (current_user === 'Staff') {

              var current_user_temp = prompt("Please enter your name:");
              if (current_user_temp == null) {
                  return;
              }
              else if (current_user_temp.trim() == '') {
                  alert("You must give a name.");
                  return;
              }
              else if (current_user_temp != null) {
                  current_user = current_user_temp;

                  $.ajax({
                      type: "POST",
                      url: "Session/",
                      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                              'given_staff_name': current_user,
                            },
                      success: function () {
                          console.log('Posted name: ' + current_user);
                      }
                  });
              }
          }

              var message = prompt("Message:");

              if (message == null) {
                console.log('Clicked Cancel on message dialog: ' + current_user);
                return;
              }
              else if (message.trim() == '') {
                  alert("You must enter a message.");
                  return;
              }
              else if (message != null) {

                    $.ajax({
                        type: "POST",
                        url: "Messages/",
                        data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                                'author_1': current_user,
                                'message_1': message
                              },
                        success: function () {
                            message_1 = message;
                            console.log('Message by ' + current_user + ' sent: ' + message_1);
                        }
                    });
                }
           // }}
        });

        $('#status_normal').click(function(e) {
            if (status != 'Normal') {

                // Only if they don't click Cancel and give some text if clicking OK
                // if ((current_user != null) && (status_setter != '')) {
                status = $('#status_normal').val();
                last_status = $('#status_normal').val();
                from_location = '';
                to_location = '';

                $('#status_banner').text('');
                $('#status_banner').removeClass('banner_yellow');
                $('#status_banner').removeClass('banner_red');
            }

            else {
                alert("The status is already set to Normal!");
            }
        });

        $('#status_horizontal').click(function(e) {

            if (status != 'Horizontal Evacuation') {

                from_location = prompt("From:");

                if (from_location != null && from_location != '') {

                        to_location = prompt("To:");

                        if (to_location != null && to_location != '') {

                            // if (status_setter != null && from_location != null && to_location != null) {
                            status = $('#status_horizontal').val();
                            last_status = $('#status_horizontal').val();

                            $('#status_banner').text('Horizontal Evacuation');
                            $('#status_banner').addClass('banner_yellow');
                            $('#status_banner').removeClass('banner_red');
                            }
                        else if (to_location == '') {
                            alert('You must provide a To location.');
                        }
                }

                else if (from_location == '') {
                    alert('You must provide a From location.');
                }
            }

            else {
                alert("The status is already set to Horizontal Evacuation!");
            }
        });

        $('#status_full_evac').click(function(e) {
            if (status != 'Full Evacuation') {

                status = $('#status_full_evac').val();
                last_status = $('#status_full_evac').val();
                from_location = '';
                to_location = '';

                $('#status_banner').text('Full Evacuation');
                $('#status_banner').addClass('banner_red');
                $('#status_banner').removeClass('banner_yellow');
            }

            else {
                alert("The status is already set to Full Evacuation!");
            }
        });

        $(':button').not('#send_message').click(function(e) {     // Won't run when message button is clicked

            // if (status_setter != null && status_setter != '' && from_location != null && to_location != null) {
            if (from_location != null && to_location != null) {

                $.ajax({
                    type: "POST",
                    url: "CodeRedStatus/",
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                            'code_red_status': status,
                            'status_setter': current_user,
                            'from_location': from_location,
                            'to_location': to_location
                          },
                    success: function () {
                        console.log('POST status success!');
                    }
                });
            }
        });


  var myStatusVar = setInterval(status_update, 2000);
  function status_update() {

  $.ajax({
      type: 'GET',
      url: 'CodeRedStatus/',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
              // 'status_request': 'yes'
            },
      // dataType: 'json',          // Apparently not needed
      success: function(response) {
          // alert('The status has been changed to ' + response['json_data'])

          // console.log('START')
          // console.log('Existing status: ' + status)
          // console.log('Existing last_status: ' + last_status)
          // console.log('From GET: ' + response['reset_status'])
          // console.log('From GET: ' + response['code_red_status'])
          // console.log('From GET: ' + response['status_setter'])
          // console.log('END')
          // console.log(response['from_location'])
          // console.log(response['to_location'])

          if (response['code_red_status'] == 'Normal') {
            $('#status_banner').text('')
          }
          else if (response['code_red_status'] == 'Horizontal Evacuation') {
            $('#status_banner').text('Horizontal Evacuation from ' + response['from_location'] + ' to ' + response['to_location'])
            $('#status_banner').addClass('banner_yellow')
            $('#status_banner').removeClass('banner_red')
            }
          else if (response['code_red_status'] == 'Full Evacuation') {
            $('#status_banner').text('Full Evacuation')
            $('#status_banner').addClass('banner_red')
            $('#status_banner').removeClass('banner_yellow')
          }

        if (response['code_red_status'] != last_status) { // && response['reset_status'] == 'No') {
            last_status = response['code_red_status'];

            alert(response['status_setter'] + ' has set the status From ' + status + ' to ' + last_status);
            status = response['code_red_status'];
        }
    }
  });

  $.ajax({
      type: 'GET',
      url: 'Messages/',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
              'status_request': 'yes'
            },
      success: function(response) {

         // console.log(response['author_1']);
         // console.log(response['message_1']);
         // console.log(response['timestamp'].substring(11,19));

          if (!window.location.href.includes('chat') && response['message_1'] != message_1 && response['message_1'] != '') {
              alert("Message from " + response['author_1'] + ' @ ' + response['timestamp'].substring(11,19) + ':\n\n' + response['message_1']);
              message_1 = response['message_1']
          }
        }
     });
   };
});

// });

</script>

{% endblock %}
