<!DOCTYPE html>
<html lang="en">
<head>

    <!-- <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.4.1.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  {% block title %}<title>NBRHC Staff Pool</title>{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<!-- {% load static %} -->
<body background="{% static "nbrhc-3.jpg" %}">

    {% block banner %}
        <p id="status_banner" class="status_banner blinking"></p>
    {% endblock %}

<!-- <body style="background-repeat: round;" background="{% static "nbrhc-2.jpg" %}"> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">

      {% block sidebar %}

        <ul class="background sidebar-nav">
          <li><a href="{% url 'cafeteria_form' %}"><b>Cafeteria Form</b></a></li>
          <li><a href="{% url 'east_lobby_form' %}"><b>East Lobby Form</b></a></li>
          <li><a href="{% url 'town_centre_form' %}"><b>Town Centre Form</b></a></li>
              </br>

          <!-- <li class="tracker"><a href="{% url 'LIVE' %}"><b><span style="color: red"><img src="{% static "live.png" %}" />LIVE TRACKER</span></b></a></li> -->
          <li class=" shrink_live tracker"><a class="live" href="{% url 'LIVE' %}"><img src="{% static "live.png" %}" /></a></li>
              </br>

          <li><a href="{% url 'about' %}"><b>About This Tool</b></a></li>

       </br>

        {% if user.is_authenticated %}

          <a href="{% url 'logout'%}?next={{request.path}}"><b>Logout</b></a>
          <li class="user"><b>{{ user.get_username }}</b></li>

        {% else %}

          <a href="{% url 'login'%}?next={{request.path}}"><b>Login</b></a>

        {% endif %}

        </ul>
{% endblock %}

{% block set_statuses %}
    {% if user.is_authenticated %}

    <div id="status_list">
        <input id="status_normal" class="status_button btn btn-success" type="button" value="Normal" name="upgrade_button"> </br>
        <input id="status_horizontal" class="status_button btn btn-warning" type="button" value="Horizontal Evacuation" name="upgrade_button"> </br>
        <input id="status_full_evac" class="status_button btn btn-danger" type="button" value="Full Evacuation" name="upgrade_button">
    </div>

    {% endif %}
{% endblock %}

      </div>

    {% block index_content %}
      <div class="col-sm-12 col-md-8 col-lg-8">
    {% endblock %}

          {% block content %}

          {% endblock %}

      </div>
    </div>
  </div>
</body>
</html>

<script type="text/javascript">

$(document).ready(function() {

var status;
var status_get;
var last_status

$.ajax({
    type: 'GET',
    url: 'CodeRedStatus/',
    data: { csrfmiddlewaretoken: '{{ csrf_token }}',
            'status_request': 'yes'
          },
    // dataType: 'json',          // Apparently not needed
    success: function(response) {
        status = response['json_data']
        status_get = response['json_data']

        if (response['json_data'] == 'Normal') {
            $('#status_banner').text('')
        }

        else {

            $('#status_banner').text(response['json_data'])

            if (response.json_data == 'Horizontal Evacuation') {
                $('#status_banner').addClass('banner_yellow')
            }
            else {
                $('#status_banner').addClass('banner_red')
            }
      }
  }
});

        $('#status_normal').click(function(e) {
            status = $('#status_normal').val()
            $('#status_banner').text('')
            $('#status_banner').removeClass('banner_yellow')
            $('#status_banner').removeClass('banner_red')
        });

        $('#status_horizontal').click(function(e) {
            status = $('#status_horizontal').val()
            $('#status_banner').text('Horizontal Evacuation')
            $('#status_banner').addClass('banner_yellow')
            $('#status_banner').removeClass('banner_red')

        });

        $('#status_full_evac').click(function(e) {
            status = $('#status_full_evac').val()
            $('#status_banner').text('Full Evacuation')
            $('#status_banner').addClass('banner_red')
            $('#status_banner').removeClass('banner_yellow')

        });

        $(':button').click(function(e) {

            $.ajax({
                type: "POST",
                url: "CodeRedStatus/",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'code_red_status': status
                      },
                success: function () {
                    console.log('Post success!');
                }
            });
        });


  var myStatusVar = setInterval(status_update, 11250);
  function status_update() {

      // console.log('GET BEFORE: ' + wait)


  $.ajax({
      type: 'GET',
      url: 'CodeRedStatus/',
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
              'status_request': 'yes'
            },
      // dataType: 'json',          // Apparently not needed
      success: function(response) {
          // alert('The status has been changed to ' + response['json_data'])
          // console.log('GET SUCCESS 1 : ' + wait)

          if (response['json_data'] == 'Normal') {
            $('#status_banner').text('')
          }
          else if (response['json_data'] == 'Horizontal Evacuation') {
            $('#status_banner').text('Horizontal Evacuation')
            $('#status_banner').addClass('banner_yellow')
            $('#status_banner').removeClass('banner_red')
            }
          else if (response['json_data'] == 'Full Evacuation') {
            $('#status_banner').text('Full Evacuation')
            $('#status_banner').addClass('banner_red')
            $('#status_banner').removeClass('banner_yellow')
          }

        if (response['json_data'] != status_get) {
            status = response['json_data']; // I don't think this is necessary
            // console.log('GET SUCCESS 2 : ' + wait)
            // if (wait == '0') {
            alert('The status has been changed from ' + status_get + ' to ' + status);
            // }
            status_get = response['json_data'];
        }
    }
  });
};

});

</script>

<!-- <script type="text/javascript">

    var status;

    $(document).ready(function() {

        $('#status_normal').click(function(e) {
            status = $('#status_normal').val()
        });

        $('#status_horizontal').click(function(e) {
            status = $('#status_horizontal').val()
        });

        $('#status_full_evac').click(function(e) {
            status = $('#status_full_evac').val()
        });

        $(':button').click(function(e) {
            // status = $('button[name=upgrade_button]').val();
            console.log(status);
            // alert('STATUS UPGRADED!');

            $.ajax({
                type: "POST",
                url: "CodeRedStatus/",
                data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                        'code_red_status': status
                      },
                success: function () {
                    console.log('success');
                }
            });
        return false;
    });
  });

</script> -->
