{% extends "base_generic.html" %}

{% block content %}

<div class="center_content my_header">

</br><h1 class="">NBRHC Staff Pool</h1>
  <h4><span class="indicator">Cafeteria</span> Submission Form</h4>
  <p><em>Please enter the names of assigned staff:</em></p> </br>
</div>

{% if show_form_button == 'Yes' %}
    <div>
        <input id="new_form_button" class="new_form_button btn btn-secondary" type="button" value="Generate a New Form" name="new_form_button"> </br>
    </div>
{% endif %}

<div>

  <form class="trim_form" id="cafeteria_form_html" action="" method="post">
    {% csrf_token %}
    <table>
    {{ form_c }}
    <!-- {{ form.errors}} -->
</table> </br>
    <input class="btn btn-primary" type="submit" value="Update" name="c">
</form>

    <!-- </div> -->

    </br></br>
    <p class="center_other_content past_data">Number of past Cafeteria Staff Pool submissions:<br/>
        <strong id="past_size">{{num_events}}</strong></p>

</div>

<!-- <p class="hide">...</p> -->

<script type="text/javascript">

var form_is_reset = 'No';
var reset_once = 'No';
var reset = 'No'

$(document).ready(function(){
        // $('#cafeteria_form_html :input').not('#id_c_date').on('blur', function(e) {
        $(document).on('blur', '#cafeteria_form_html', function(e) {
            console.log('Form is reset: ' + form_is_reset);
            console.log('Reset once: ' + reset_once);
            e.preventDefault()

            if (form_is_reset == 'Yes' && reset_once == 'No') {
                reset = 'Yes';
                reset_once = 'Yes';
            }
            else {
                reset = 'No';
            }

            console.log('Form is reset AFTER: ' + form_is_reset);
            console.log('Reset once AFTER: ' + reset_once);

            $.ajax({
                type: "POST",
                url: "",
                // dataType: 'JSON'
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'reset': reset,
                    'c': 'dummy',
                    'c_date': $('#id_c_date').val(),
                    'c_time': $('#id_c_time').val(),
                    'c_coordinator': $('#id_c_coordinator').val(),
                    'c_main_doors': $('#id_c_main_doors').val(),
                    'c_south_patio_doors': $('#id_c_south_patio_doors').val(),
                    'c_north_patio_doors_1': $('#id_c_north_patio_doors_1').val(),
                    'c_north_patio_doors_2': $('#id_c_north_patio_doors_2').val(),
                    'c_monitor': $('#id_c_monitor').val(),
                    'c_directors': $('#id_c_directors').val(),
                    'c_runners': $('#id_c_runners').val(),
                    'c_num_staff': $('#id_c_num_staff').val(),
                    'c_explain': $('#id_c_explain').val(),
                    'c_mock': $('#id_c_mock').val(),
                },
                success: function () {
                    console.log('Cafeteria POST success')
                }
            });
            return false;
      });

$('#new_form_button').click(function(e) {     // Won't run when message button is clicked

     form_is_reset = 'Yes';

     console.log('Form is reset on CLICK: ' + form_is_reset);
     console.log('Reset once on CLICK: ' + reset_once);

      $.ajax({
          type: "GET",
          url: "",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                  'new_form_indicator': 'Yes',
                },
          success: function (new_form) {

              $('#cafeteria_form_html').replaceWith($(new_form).find('#cafeteria_form_html'));

              console.log('New form success!');
          }});
      });
});

</script>

{% endblock %}
