{% extends "base_generic.html" %}

{% block content %}

<div class="center_content my_header">

</br><h1 class="">NBRHC Staff Pool</h1>
  <h4><span class="indicator">East Lobby</span> Submission Form</h4>
  <p><em>Please enter the event time and the names of assigned staff:</em></p> </br>
</div>

{% if show_form_button == 'Yes' %}
    <div>
        <input id="new_form_button" class="new_form_button btn btn-secondary" type="button" value="Generate a New Form" name="new_form_button"> </br>
    </div>
{% endif %}

<div>

  <form class="trim_form" id="east_lobby_form_html" action="" method="post">
    {% csrf_token %}
    <table>
    {{ form_e }}
    <!-- {{ form.errors}} -->
  </table> </br>
      <input class="btn btn-primary" type="submit" value="Update" name="e">
  </form>

      <!-- </div> -->

      </br></br>
      <p class="center_other_content past_data">Number of past East Lobby Staff Pool submissions:<br/>
        <strong id="past_size">{{num_events}}</strong></p>

</div>

<!-- <p class="hide">...</p> -->

<script type="text/javascript">

var form_is_reset = 'No';
var reset_once = 'No';
var reset = 'No'

$(document).ready(function(){

        $(document).on('blur', '#east_lobby_form_html', function(e) {
            // console.log('Form is reset: ' + form_is_reset);
            // console.log('Reset once: ' + reset_once);
            e.preventDefault()

            if (form_is_reset == 'Yes' && reset_once == 'No') {
                reset = 'Yes';
                reset_once = 'Yes';
            }
            else {
                reset = 'No';
            }

            // console.log('Form is reset AFTER: ' + form_is_reset);
            // console.log('Reset once AFTER: ' + reset_once);

            $.ajax({
                type: "POST",
                url: "",
                // dataType: 'JSON'
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'reset': reset,
                    'e': 'dummy',
                    'e_date': $('#id_e_date').val(),
                    'e_time': $('#id_e_time').val(),
                    'e_coordinator': $('#id_e_coordinator').val(),
                    'e_main_doors': $('#id_e_main_doors').val(),
                    'e_lab_entrance': $('#id_e_lab_entrance').val(),
                    'e_ed_entrance': $('#id_e_ed_entrance').val(),
                    'e_monitor': $('#id_e_monitor').val(),
                    'e_directors': $('#id_e_directors').val(),
                    'e_runners': $('#id_e_runners').val(),
                    'e_num_staff': $('#id_e_num_staff').val(),
                    'e_explain': $('#id_e_explain').val(),
                },
                success: function () {
                    console.log('success')
                }
            });
            return false;
      });
  });

  $('#new_form_button').click(function(e) {     // Won't run when message button is clicked

     form_is_reset = 'Yes';

      $.ajax({
          type: "GET",
          url: "",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                  'new_form_indicator': 'Yes',
                },
          success: function (new_form) {

              $('#east_lobby_form_html').replaceWith($(new_form).find('#east_lobby_form_html'));

              console.log('New form success!');
          }});
      });
});

</script>

{% endblock %}
