{% extends "base_generic.html" %}

{% block content %}

<div class="center_content my_header">

</br><h1 class="">NBRHC Staff Pool</h1>
  <h4><span class="indicator">Incident Command</span> Submission Form</h4>
  <p><em>Please enter the response details below:</em></p> </br>
</div>

{% if show_form_button == 'Yes' %}
    <div>
        <input id="new_form_button" class="i_new_form_button new_form_button btn btn-secondary" type="button" value="Generate a New Form" name="new_form_button"> </br>
    </div>
{% endif %}

<div id="to_raise_if_no_new_form_button">

  <form class="trim_form" id="incident_commander_html" action="" method="post">
    {% csrf_token %}
    <table class="move_i_form_up">

        <input id="set_signal_silence" class="i_button btn btn-success" type="button" value="Send Signal Silence Alert" name="set_signal_silence"> </br>
        <input id="set_all_clear" class="i_button btn btn-success" type="button" value="Send All Clear Alert" name="set_all_clear">

        {{ form_incident_commander }}
        <!-- {{ form.errors}} -->
    </table> </br>

    <input class="btn btn-primary" type="submit" value="Update" name="c">
</form>

    </br></br>
    <p class="center_other_content past_data">Number of past Incident Command submissions:<br/>
        <strong id="past_size">{{num_events}}</strong></p>

</div>

<!-- <p class="hide">...</p> -->

<script type="text/javascript">

var form_is_reset = 'No';
var reset_once = 'No';
var reset = 'No'

$(document).ready(function(){

        if ('{{ show_form_button }}' == 'No') {
            $('#to_raise_if_no_new_form_button').css('margin-top', '-78px');
        }

        if ('{{ show_signal_silence_alert_button }}' === 'No') {
            $('#set_signal_silence').css('visibility', 'hidden');
        }

        if ('{{ show_all_clear_alert_button }}' === 'No') {
            $('#set_all_clear').css('visibility', 'hidden');
        }

        $(document).on('blur', '#incident_commander_html', function(e) {
            // console.log('Form is reset: ' + form_is_reset);
            // console.log('Reset once: ' + reset_once);
            e.preventDefault()

            if (form_is_reset == 'Yes' && reset_once == 'No') {
                reset = 'Yes';
                reset_once = 'Yes';
            }
            else {
                reset = 'No';
            }

            // console.log('Form is reset AFTER: ' + form_is_reset);
            // console.log('Reset once AFTER: ' + reset_once);

            $.ajax({
                type: "POST",
                url: "",
                // dataType: 'JSON'
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'reset': reset,
                    'i': 'dummy',
                    'i_date': $('#id_i_date').val(),
                    'i_time': $('#id_i_time').val(),
                    'i_commander': $('#id_i_commander').val(),
                    'i_num_staff_c': $('#id_i_num_staff_c').val(),
                    'i_num_staff_e': $('#id_i_num_staff_e').val(),
                    'i_num_staff_t': $('#id_i_num_staff_t').val(),
                    'i_captain': $('#id_i_captain').val(),
                    'i_signal_silence_time': $('#id_i_signal_silence_time').val(),
                    'i_all_clear_time': $('#id_i_all_clear_time').val(),
                    'i_location_of_evacuation': $('#id_i_location_of_evacuation').val(),
                    'i_area_of_refuge': $('#id_i_area_of_refuge').val(),
                    'i_signed_fire_documentation': $('#id_i_signed_fire_documentation').val(),
                    'i_mock': $('#i_mock').val(),
                },
                success: function () {
                    console.log('Incident Command POST success')
                }
            });
            return false;
      });

$('#new_form_button').click(function(e) {     // Won't run when message button is clicked

     form_is_reset = 'Yes';

     console.log('Form is reset on CLICK: ' + form_is_reset);
     console.log('Reset once on CLICK: ' + reset_once);

      $.ajax({
          type: "GET",
          url: "",
          data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                  'new_form_indicator': 'Yes',
                },
          success: function (new_form) {

              $('#incident_commander_html').replaceWith($(new_form).find('#incident_commander_html'));

              console.log('New form success!');
          }});
      });

$(document).on('click', '#set_signal_silence', function(e) {

    var current_time = new Date();
    var hour = current_time.getHours().toString();
    var minute = current_time.getMinutes().toString();
    if (hour.length == 1) {
        hour = '0' + hour;
    }
    if (minute.length == 1) {
        minute = '0' + minute;
    }

    $('#id_i_signal_silence_time').val(hour + ':' + minute);
    $('#set_signal_silence').css('visibility', 'hidden');
});


$(document).on('click', '#set_all_clear', function(e) {

    var current_time_ac = new Date();
    var hour = current_time_ac.getHours().toString();
    var minute = current_time_ac.getMinutes().toString();
    if (hour.length == 1) {
        hour = '0' + hour;
    }
    if (minute.length == 1) {
        minute = '0' + minute;
    }

    $('#id_i_all_clear_time').val(hour + ':' + minute);
    $('#set_all_clear').css('visibility', 'hidden');
});


$(document).on('click', '#set_signal_silence,#set_all_clear', function(e) {

    $.ajax({
        type: "POST",
        url: "",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            'reset': reset,
            'i': 'dummy',
            'i_date': $('#id_i_date').val(),
            'i_time': $('#id_i_time').val(),
            'i_commander': $('#id_i_commander').val(),
            'i_num_staff_c': $('#id_i_num_staff_c').val(),
            'i_num_staff_e': $('#id_i_num_staff_e').val(),
            'i_num_staff_t': $('#id_i_num_staff_t').val(),
            'i_captain': $('#id_i_captain').val(),
            'i_signal_silence_time': $('#id_i_signal_silence_time').val(),
            'i_all_clear_time': $('#id_i_all_clear_time').val(),
            'i_location_of_evacuation': $('#id_i_location_of_evacuation').val(),
            'i_area_of_refuge': $('#id_i_area_of_refuge').val(),
            'i_signed_fire_documentation': $('#id_i_signed_fire_documentation').val(),
            'i_mock': $('#i_mock').val(),
        },
        success: function () {
            console.log('Incident Command POST success')
        }
    });

});



var myStatusVar = setInterval(count_update, 1000);
function count_update() {

    $.ajax({
      type: 'GET',
      url: "StaffCountUpdate/",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
              'cafeteria': 'c' },
      success: function(response) {

          $('#id_i_num_staff_c').val(response['c_num_staff']);

          // $('#id_i_num_staff_c').focus()
          // $('#id_i_num_staff_c').blur()
      }
    });

    $.ajax({
      type: 'GET',
      url: "StaffCountUpdate/",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
              'east_lobby': 'e' },
      success: function(response) {

          $('#id_i_num_staff_e').val(response['e_num_staff']);

          // $('#id_i_num_staff_e').focus()
          // $('#id_i_num_staff_e').blur()
      }
    });

    $.ajax({
      type: 'GET',
      url: "StaffCountUpdate/",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
              'town_centre': 't' },
      success: function(response) {

              $('#id_i_num_staff_t').val(response['t_num_staff']);

              // $('#id_i_num_staff_t').focus()
              // $('#id_i_num_staff_t').blur()
          }
    });

  }

});

</script>

{% endblock %}
