{% extends "base_generic.html" %}

{% load static %}

{% block sidebar %}

  <ul class="background sidebar-nav">
    <li><a href="{% url 'cafeteria_form' %}"><b>Cafeteria Form</b></a></li>
    <li><a href="{% url 'east_lobby_form' %}"><b>East Lobby Form</b></a></li>
    <li><a href="{% url 'town_centre_form' %}"><b>Town Centre Form</b></a></li>
        </br>

    <!-- <li class="tracker"><a href="{% url 'LIVE' %}"><b><span style="color: red"><img src="{% static "live.png" %}" />LIVE TRACKER</span></b></a></li> -->
    <li class="shrink_live tracker"><a class="live" href="{% url 'LIVE' %}"><img src="{% static "live.png" %}" /></a><div class="circle loader"></div></li>
        </br>

    <li><a href="{% url 'about' %}"><b>About This Tool</b></a></li>

 </br>

  {% if user.is_authenticated %}

    <a href="{% url 'logout'%}?next={{request.path}}"><b>Logout</b></a>
    <li class="user"><b>{{ user.get_username }}</b></li>

  {% else %}

    <a href="{% url 'login'%}?next={{request.path}}"><b>Login</b></a>

  {% endif %}

  </ul>
{% endblock %}


{% block content %}

<!-- {% load static %}
    <script src="js/jquery.min.js"></script> -->

<div class="center_content">

<div id="live_header" class="pad_list_left">
</br> <h1 class="banner list_page_white">Live List of Assigned Staff</h1>

<h4 class="list_page_white">Date of Current Event: {{cafeteria.c_date}}</h4>
<p class="list_page_white"><em>Names will appear in real-time below, as the Staff Pool coordinators populate the forms. Page refresh unnecessary!</em></p>

</br>
</div>
<div class="body pad_list_left">

  <!-- <div class="circle_1 loader"></div> -->

</br></br><h3 class="list_page_white">Cafeteria</h3>

  {% if cafeteria %}
    {% for cafeteria in cafeteria %}

        <p class="labels"><span class="fixed_width">Time (24 hr.):</span><b><span class="site_color_list left_align" id="c1">{{cafeteria.c_time}}</span></b></p>
        <p class="labels"><span class="fixed_width">Staff Pool Coordinator:</span><b><span class="site_color_list left_align" id="c2">{{cafeteria.c_coordinator}}</b></span></b></p>
        <p class="labels"><span class="fixed_width">Main Doors:</span><b><span class="site_color_list left_align" id="c3">{{cafeteria.c_main_doors}}</span></b></p>
        <p class="labels"><span class="fixed_width">South Patio Doors:</span><b><span class="site_color_list left_align" id="c4">{{cafeteria.c_south_patio_doors}}</span></b></p>
        <p class="labels"><span class="fixed_width">North Patio Doors (1):</span><b><span class="site_color_list left_align" id="c5">{{cafeteria.c_north_patio_doors_1}}</span></b></p>
        <p class="labels"><span class="fixed_width">North Patio Doors (2):</span><b><span class="site_color_list left_align" id="c6">{{cafeteria.c_north_patio_doors_2}}</span></b></p>
        <p class="labels"><span class="fixed_width">Telephone Monitor:</span><b><span class="site_color_list left_align" id="c7">{{cafeteria.c_monitor}}</span></b></p>
        <p class="labels"><span class="fixed_width">Patient/Visitor Director(s):</span><b><span class="site_color_list left_align" id="c8">{{cafeteria.c_directors}}</span></b></p>
        <p class="labels"><span class="fixed_width">Command Centre Runner(s):</span><b><span class="site_color_list left_align" id="c9">{{cafeteria.c_runners}}</span></b></p>
        <p class="labels"><span class="fixed_width">Number of Staff Present:</span><b><span class="site_color_list left_align" id="c10">{{cafeteria.c_num_staff}}</span></b></p>
        <p class="labels"><span class="fixed_width">Instructed Participants:</span><b><span class="site_color_list left_align" id="c11">{{c_explainval}}</span></b></p>

    {% endfor %}

    {% else %}

        <p class="labels"><span class="fixed_width">Time (24 hr.):</span><b><span class="site_color_list" id="c1"></span></b></p>
        <p class="labels"><span class="fixed_width">Staff Pool Coordinator:</span><b><span class="site_color_list" id="c2"></b></span></b></p>
        <p class="labels"><span class="fixed_width">Main Doors:</span><b><span class="site_color_list" id="c3"></span></b></p>
        <p class="labels"><span class="fixed_width">South Patio Doors:</span><b><span class="site_color_list" id="c4"></span></b></p>
        <p class="labels"><span class="fixed_width">North Patio Doors (1):</span><b><span class="site_color_list" id="c5"></span></b></p>
        <p class="labels"><span class="fixed_width">North Patio Doors (2):</span><b><span class="site_color_list" id="c6"></span></b></p>
        <p class="labels"><span class="fixed_width">Telephone Monitor:</span><b><span class="site_color_list" id="c7"></span></b></p>
        <p class="labels"><span class="fixed_width">Patient/Visitor Director(s):</span><b><span class="site_color_list" id="c8"></span></b></p>
        <p class="labels"><span class="fixed_width">Command Centre Runner(s):</span><b><span class="site_color_list" id="c9"></span></b></p>
        <p class="labels"><span class="fixed_width">Number of Staff Present:</span><b><span class="site_color_list" id="c10"></span></b></p>
        <p class="labels"><span class="fixed_width">Instructed Participants:</span><b><span class="site_color_list" id="c11"></span></b></p>

    {% endif %}

    <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#body_2_collapsible">Button with data-target</button> -->

<div id="body_2_collapsible" class="body_2">

    <!-- <div class="circle_2 loader"></div> -->

    </br></br></br> <h3 class="list_page_white">East Lobby</h3>

    {% if east_lobby %}
        {% for east_lobby in east_lobby %}

      <p class="labels"><span class="fixed_width">Time (24 hr.):</span><b><span class="site_color_list" id="e1">{{east_lobby.e_time}}</span></b></p>
      <p class="labels"><span class="fixed_width">Staff Pool Coordinator:</span><b><span class="site_color_list" id="e2">{{east_lobby.e_coordinator}}</b></span></b></p>
      <p class="labels"><span class="fixed_width">Main Doors:</span><b><span class="site_color_list" id="e3">{{east_lobby.e_main_doors}}</span></b></p>
      <p class="labels"><span class="fixed_width">Lab Entrance:</span><b><span class="site_color_list" id="e4">{{east_lobby.e_lab_entrance}}</span></b></p>
      <p class="labels"><span class="fixed_width">ED Entrance:</span><b><span class="site_color_list" id="e5">{{east_lobby.e_ed_entrance}}</span></b></p>
      <p class="labels"><span class="fixed_width">Telephone Monitor:</span><b><span class="site_color_list" id="e6">{{east_lobby.e_monitor}}</span></b></p>
      <p class="labels"><span class="fixed_width">Patient/Visitor Director(s):</span><b><span class="site_color_list" id="e7">{{east_lobby.e_directors}}</span></b></p>
      <p class="labels"><span class="fixed_width">Command Centre Runner(s):</span><b><span class="site_color_list" id="e8">{{east_lobby.e_runners}}</span></b></p>
      <p class="labels"><span class="fixed_width">Number of Staff Present:</span><b><span class="site_color_list" id="e9">{{east_lobby.e_num_staff}}</span></b></p>
      <p class="labels"><span class="fixed_width">Instructed Participants:</span><b><span class="site_color_list" id="e10">{{e_explainval}}</span></b></p>

    {% endfor %}

    {% else %}

    <p class="labels"><span class="fixed_width">Time (24 hr.):</span><b><span class="site_color_list" id="e1"></span></b></p>
    <p class="labels"><span class="fixed_width">Staff Pool Coordinator:</span><b><span class="site_color_list" id="e2"></b></span></b></p>
    <p class="labels"><span class="fixed_width">Main Doors:</span><b><span class="site_color_list" id="e3"></span></b></p>
    <p class="labels"><span class="fixed_width">Lab Entrance:</span><b><span class="site_color_list" id="e4"></span></b></p>
    <p class="labels"><span class="fixed_width">ED Entrance:</span><b><span class="site_color_list" id="e5"></span></b></p>
    <p class="labels"><span class="fixed_width">Telephone Monitor:</span><b><span class="site_color_list" id="e6"></span></b></p>
    <p class="labels"><span class="fixed_width">Patient/Visitor Director(s):</span><b><span class="site_color_list" id="e7"></span></b></p>
    <p class="labels"><span class="fixed_width">Command Centre Runner(s):</span><b><span class="site_color_list" id="e8"></span></b></p>
    <p class="labels"><span class="fixed_width">Number of Staff Present:</span><b><span class="site_color_list" id="e9">{{e_num_staff}}</span></b></p>
    <p class="labels"><span class="fixed_width">Instructed Participants:</span><b><span class="site_color_list" id="e10"></span></b></p>

    {% endif %}

</div>

<div class="body_3">

    <!-- <div class="circle_3 loader"></div> -->

    </br></br></br> <h3 class="list_page_white">Town Centre</h3>

    {% if town_centre %}
        {% for town_centre in town_centre %}

        <p class="labels"><span class="fixed_width">Time (24 hr.):</span><b><span class="site_color_list" id="t1">{{town_centre.t_time}}</span></b></p>
        <p class="labels"><span class="fixed_width">Staff Pool Coordinator:</span><b><span class="site_color_list" id="t2">{{town_centre.t_coordinator}}</b></span></b></p>
        <p class="labels"><span class="fixed_width">Horticultural Entrance:</span><b><span class="site_color_list" id="t3">{{town_centre.t_horticultural}}</span></b></p>
        <p class="labels"><span class="fixed_width">Town Centre/Main Street:</span><b><span class="site_color_list" id="t4">{{town_centre.t_town_centre_main_street}}</span></b></p>
        <p class="labels"><span class="fixed_width">Telephone Monitor:</span><b><span class="site_color_list" id="t5">{{town_centre.t_monitor}}</span></b></p>
        <p class="labels"><span class="fixed_width">Patient/Visitor Director(s):</span><b><span class="site_color_list" id="t6">{{town_centre.t_directors}}</span></b></p>
        <p class="labels"><span class="fixed_width">Command Centre Runner(s):</span><b><span class="site_color_list" id="t7">{{town_centre.t_runners}}</span></b></p>
        <p class="labels"><span class="fixed_width">Number of Staff Present:</span><b><span class="site_color_list" id="t8">{{town_centre.t_num_staff}}</span></b></p>
        <p class="labels"><span class="fixed_width">Instructed Participants:</span><b><span class="site_color_list" id="t9">{{t_explainval}}</span></b></p>

    {% endfor %}

    {% else %}

        <p class="labels"><span class="fixed_width">Time (24 hr.):</span><b><span class="site_color_list" id="t1"></span></b></p>
        <p class="labels"><span class="fixed_width">Staff Pool Coordinator:</span><b><span class="site_color_list" id="t2"></b></span></b></p>
        <p class="labels"><span class="fixed_width">Horticultural Entrance:</span><b><span class="site_color_list" id="t3"></span></b></p>
        <p class="labels"><span class="fixed_width">Town Centre/Main Street:</span><b><span class="site_color_list" id="t4"></span></b></p>
        <p class="labels"><span class="fixed_width">Telephone Monitor:</span><b><span class="site_color_list" id="t5"></span></b></p>
        <p class="labels"><span class="fixed_width">Patient/Visitor Director(s):</span><b><span class="site_color_list" id="t6"></span></b></p>
        <p class="labels"><span class="fixed_width">Command Centre Runner(s):</span><b><span class="site_color_list" id="t7"></span></b></p>
        <p class="labels"><span class="fixed_width">Number of Staff Present:</span><b><span class="site_color_list" id="t8"></span></b></p>
        <p class="labels"><span class="fixed_width">Instructed Participants:</span><b><span class="site_color_list" id="t9"></span></b></p>

    {% endif %}

</div> </div>

    <script>
      var myVar = setInterval(results_update, 500);
      function results_update() {

      $.ajax({
          url: '',
          type: 'GET',
          // dataType: 'json',
          success: function(cafeteria_instance) {
            // console.log(cafeteria_instance)
            // console.log($(cafeteria_instance).find('#c4').text())
            // console.log($('#4').text())
            $('#c1').text($(cafeteria_instance).find('#c1').text().replace('None', ''));
            $('#c2').text($(cafeteria_instance).find('#c2').text().replace('None', ''));
            $('#c3').text($(cafeteria_instance).find('#c3').text().replace('None', ''));
            $('#c4').text($(cafeteria_instance).find('#c4').text().replace('None', ''));
            $('#c5').text($(cafeteria_instance).find('#c5').text().replace('None', ''));
            $('#c6').text($(cafeteria_instance).find('#c6').text().replace('None', ''));
            $('#c7').text($(cafeteria_instance).find('#c7').text().replace('None', ''));
            $('#c8').text($(cafeteria_instance).find('#c8').text().replace('None', ''));
            $('#c9').text($(cafeteria_instance).find('#c9').text().replace('None', ''));
            $('#c10').text($(cafeteria_instance).find('#c10').text().replace('None', ''));
            $('#c11').text($(cafeteria_instance).find('#c11').text().replace('None', '').replace('True', 'Yes').replace('False', 'No'));
        }
      });

      $.ajax({
          url: '',
          type: 'GET',
          // dataType: 'json',
          success: function(east_lobby_instance) {
              // console.log($(cafeteria_instance).find('#e4').text())
            $('#e1').text($(east_lobby_instance).find('#e1').text().replace('None', ''));
            $('#e2').text($(east_lobby_instance).find('#e2').text().replace('None', ''));
            $('#e3').text($(east_lobby_instance).find('#e3').text().replace('None', ''));
            $('#e4').text($(east_lobby_instance).find('#e4').text().replace('None', ''));
            $('#e5').text($(east_lobby_instance).find('#e5').text().replace('None', ''));
            $('#e6').text($(east_lobby_instance).find('#e6').text().replace('None', ''));
            $('#e7').text($(east_lobby_instance).find('#e7').text().replace('None', ''));
            $('#e8').text($(east_lobby_instance).find('#e8').text().replace('None', ''));
            $('#e9').text($(east_lobby_instance).find('#e9').text().replace('None', ''));
            $('#e10').text($(east_lobby_instance).find('#e10').text().replace('None', '').replace('True', 'Yes').replace('False', 'No'));
        }
      });

      $.ajax({
          url: '',
          type: 'GET',
          // dataType: 'json',
          success: function(town_centre_instance) {

            $('#t1').text($(town_centre_instance).find('#t1').text().replace('None', ''));
            $('#t2').text($(town_centre_instance).find('#t2').text().replace('None', ''));
            $('#t3').text($(town_centre_instance).find('#t3').text().replace('None', ''));
            $('#t4').text($(town_centre_instance).find('#t4').text().replace('None', ''));
            $('#t5').text($(town_centre_instance).find('#t5').text().replace('None', ''));
            $('#t6').text($(town_centre_instance).find('#t6').text().replace('None', ''));
            $('#t7').text($(town_centre_instance).find('#t7').text().replace('None', ''));
            $('#t8').text($(town_centre_instance).find('#t8').text().replace('None', ''));
            $('#t9').text($(town_centre_instance).find('#t9').text().replace('None', '').replace('True', 'Yes').replace('False', 'No'));
        }
      });
  };

    </script>
</div>
{% endblock %}
