{% extends "base_generic.html" %}

{% block content %}

<div class="center_content my_header">

</br><h1 class="">Staff Pool</h1>
  <h4>Submission Form</h4>
  <p><em>Please enter the names of assigned staff:</em></p> </br>
</div>

{% if show_form_button == 'Yes' %}
    <div>
        <input id="new_form_button" class="new_form_button btn btn-secondary" type="button" value="Generate a New Form" name="new_form_button"> </br>
    </div>
{% endif %}

<div>

  <form class="trim_form" id="town_centre_form_html" action="" method="post">
    {% csrf_token %}
    <table>
    {{ form_t }}
    <!-- {{ form.errors}} -->
</table> </br>
    <input class="btn btn-primary" type="submit" value="Update" name="t">
  </form>

      <!-- </div> -->

    </br></br>
    <p class="center_other_content past_data">Number of past Form 3 submissions:<br/>
        <strong id="past_size">{{num_events}}</strong></p>

</div>

<!-- <p class="hide">...</p> -->

<script type="text/javascript">

var form_is_reset = 'No';
var reset_once = 'No';
var reset = 'No'

$(document).ready(function(){

        $(document).on('blur', '#town_centre_form_html', function(e) {
            // console.log('Form is reset: ' + form_is_reset);
            // console.log('Reset once: ' + reset_once);
            e.preventDefault()

            if (form_is_reset == 'Yes' && reset_once == 'No') {
                reset = 'Yes';
                reset_once = 'Yes';
            }
            else {
                reset = 'No';
            }

            // console.log('Form is reset AFTER: ' + form_is_reset);
            // console.log('Reset once AFTER: ' + reset_once);

            $.ajax({
                type: "POST",
                url: "",
                // dataType: 'JSON'
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'reset': reset,
                    't': 'dummy',
                    't_date': $('#id_t_date').val(),
                    't_time': $('#id_t_time').val(),
                    't_coordinator': $('#id_t_coordinator').val(),
                    't_horticultural': $('#id_t_horticultural').val(),
                    't_town_centre_main_street': $('#id_t_town_centre_main_street').val(),
                    't_monitor': $('#id_t_monitor').val(),
                    't_directors': $('#id_t_directors').val(),
                    't_runners': $('#id_t_runners').val(),
                    't_num_staff': $('#id_t_num_staff').val(),
                    't_explain': $('#id_t_explain').val(),
                    't_mock': $('#id_t_mock').val(),
                },
                success: function () {
                    console.log('success')
                }
            });
            return false;
       });

  $('#new_form_button').click(function(e) {     // Won't run when message button is clicked

       form_is_reset = 'Yes';

        $.ajax({
            type: "GET",
            url: "",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                    'new_form_indicator': 'Yes',
                  },
            success: function (new_form) {

                $('#town_centre_form_html').replaceWith($(new_form).find('#town_centre_form_html'));

                console.log('New form success!');
            }});
        });
  });

</script>

{% endblock %}
