.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.sidebar-nav img {
    transform:scale(0.1,0.1);
    /* position: relative;
    top: -20.9rem;
    right: 54.5rem; */
    /* text-align: center; */
    display: block;
}

.user {
    font-size: 0.90rem;
}

.tracker {
    font-size: 1.2rem;
}

.site_color {
    color: #0275d8;
}

.site_color_list {
    color: red;
}

a {
    color: #0275d8;            /*1f87e8*/
}

.container label {
    max-width: 500px;
    text-align: left;
}

.border {
    color: #0275d8;
    border-color: red;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid red;    /* #3498db */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.circle {
position: relative;
bottom: 22.2rem;
left: 9rem;
}

/* .circle_2 {
position: relative;
top: 4.2rem;
left: -4.5rem;
}

.circle_3 {
position: relative;
top: 4.2rem;
left: -4.5rem;
} */

.body {
    position: relative;
    top: -4rem;
    /* padding-left: 4.3rem; */
}

.body_2 {
    position: relative;
    top: -3.3rem;
}

.body_3 {
    position: relative;
    top: -6.6rem;
}

.indicator {
    text-decoration: underline;
}

label {
    /* color: #3498db; */
    margin: 0.1rem 0.1rem 0.1rem 0;
    font-weight: normal;
    font-size: 0.9rem;
    background-color: #d3d3d3;
    padding: 0.5rem;
    border-radius: 10px;
    display: inline-block;
    width: 210px;
}

th {
    text-align: center;
    /* width: 10rem; */
}

#login_u, #login_p {
    margin: 3.5rem 0.5rem 0.5rem 0;
    text-align: center;
}

label[for="id_username"] {
    width: 150px;
}

label[for="id_password"] {
    width: 150px;
}

#id_username, #id_password {
    width: 150px;
    padding: 7px;
}

input[type="text"] {
    color: blue;
    background-color: white;
    margin: 0.5px;
    /* margin-right: 8px; */
    height: 39px;
    width: 13rem;
}

input[type="password"] {
    color: blue;
    /* border-color: red; */
    background-color: #ebebe0;
    margin: 0.5px;
    height: 39px;
    width: 13rem;
}

#id_c_date, #id_e_date, #id_t_date, #id_c_time, #id_e_time, #id_t_time {
    color: red;
    width: 6.3rem;
}

/* #id_c_time, #id_e_time, #id_t_time, #id_c_directors, #id_c_runners, #id_e_directors, #id_e_runners, #id_t_directors, #id_t_runners {
    width: 8rem;
} */

#id_c_explain, #id_e_explain, #id_t_explain {
    position: relative;
    left: 2.25rem;
}

input[type="submit"]:not(.login_button) {
    position: relative;
    margin: 2rem;
    /* top: 20rem; */
    left: 9.5rem;
    transform: scale(2,2);
}

/* input[type="checkbox"] {
    position: relative;
    top: 0.29rem;
    left: 2rem;
    padding: 10px;
    zoom: 6;
} */

.main_div {
    position: relative;
    left: -1rem;
}

.past_data {
    font-size: 0.8rem;
    position: relative;
    background-color: #d3d3d3;
    padding: 10px 5px 0px 5px;;
    border-radius: 10px;
    margin: 3rem auto 3rem auto;
    /* margin-top: 3rem; */
    /* margin-left: 3.15rem; */
    /* margin-bottom: 3rem; */
    /* top: 80px; */
    /* left: -0.5rem; */
}

.hide {
    visibility: hidden;
}

.live {
    position: relative;
    right: 19.35rem;
    bottom: 10rem;
}

.shrink_live {
    height: 40px;
}

.background {
    background-color: #d3d3d3;
    border-radius: 10px;
    max-width: 200px;
    min-width: 200px;
    padding: 10px;
    margin: 30px auto 0 auto;
}

.center_content {
    /* margin: 30px auto 0 auto; */
    text-align: center;
}

.center_other_content {
    text-align: center;
    width: 19.5rem;
}

.login_string {
    margin-top: 0.2rem;
}

.trim_form {
    width: 430px;;
    margin: auto;
}

.login_button {

    position: relative;
    /* margin: 2rem; */
    transform: scale(2,2);
    position: relative;
    margin: auto;
    top: 3rem;
    /* left: 0; */
}

.pad_list_left {
    /* padding-left: 20px; */
    padding-right: 20px;
}

.table_center {
    position: relative;
    margin: auto;
}

.list_page_white {
    color: white;
}

.my_header {
    color: white;
}

.tracker_master {
    color: white;
    width: 575px;
}

#live_header {
    text-align: center;
}

.labels {
    margin: 3px auto;
    color: black;
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 10px;
    /* top: -10%; */
    width: 500px;
    height: 30px;
}

.fixed_width {
    text-align: left;
    float: left;
    margin-left: 5px;
    /* margin-bottom: 10px; */
    width: 220px;
}

.left_align {
    text-align: left;
    float: left;
}

.grab {
    text-align: center;
    /* background-color: #d3d3d3; */
}

#grab2 {
    margin-bottom: 1rem;
}

.grab3 {
    /* max-width: 250px; */
    text-align: center;
}

h3.grab {
    font-size: 0.85rem;
}

#about-header {
    font-size: 5rem;
    margin:45px auto 35px auto;
    background-color: #d3d3d3;
    padding: 2rem;
    border-radius: 2rem;
    width: 70%;
}

/* .about_page_image {
    background-color: orange;
} */

.about_holder {
    border-radius: 10px;
    /* height: 200px; */
}

#status_normal {
    /* position: relative; */
    /* text-align: center; */
    margin: 8px 4px 4px 4px;
    width: 12.65rem;
    /* right: 2.39px; */
}

#status_horizontal, #status_full_evac {
    margin: 4px;
    width: 12.5rem;
}

#status_list {
    text-align: center;
}


.blinking {
    animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText{
    0%{     color: white; }
    10%{    color: white; }
    20%{    color: white; }
    30%{    color: white; }
    40%{    color: white; }
    50%{    color: white; }
    60%{    color: white; }
    70%{    color: white; }
    80%{    color: white; }
    98%{    color: transparent; }
    100%{   color: transparent; }
}

.status_banner {
    text-align: center;
    font-size: 3rem;
    background-color: red;
}

#past_size {
    font-size: 2rem;
    margin: 0;
}

.banner_yellow {
    background-color: #FFC107;
    color: black;
}

.banner_red {
    background-color: red;
}

.grey_backing {
    color: black;
    background-color: #d3d3d3;
    border-radius: 5rem;
    padding: 40px 40px 20px 40px;
    width: 85%;
    margin: auto;
}

#index_purpose_header {
    font-size: 2rem;
    margin-top: -0.8rem;
    margin-bottom: 1.5rem;
}
/*
.login_form {
    width: 50px;
} */
